.tablepress-expand-button {
   display: none;
}

//TABLEPRESS STYLING FOR IT'S FILTERS
table.tablepress {
   margin-bottom: 2rem !important;
}
.dataTables_length,
.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
   font-size: 1rem;
   font-family: "Mate";
   width: fit-content;
}

.dataTables_paginate {
   margin-bottom: 1rem;

   span {
      display: none;
   }

   & > a {
      padding: 0 !important;
   }
}

.paginate_button.next,
.paginate_button.previous {
   font-size: 18.75px;
   font-weight: 700;
   position: relative;
}

.paginate_button.next:hover,
.paginate_button.previous:hover {
   background: grey !important;
   border: none !important;
   color: black !important;
}

.paginate_button.next::before,
.paginate_button.previous::before {
   position: absolute;
   top: 0%;
}

.paginate_button.next::before {
   content: "\203A";
   right: -10px;
}

.paginate_button.previous::before {
   content: "\2039";
   left: -10px;
}

table.dataTable.no-footer {
   border-bottom: 0;
}

button.expand-table-button {
   margin-block: 8px;
   padding: 4px 8px;
   font-size: 14px;
   font-family: "Mate";
   font-weight: 700;
   border: none;
   background-color: #1c70b6;
   color: white;
   border-radius: 3px;
   display: block;
   margin-left: auto;
}

.expanded-table-wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 10000;
   background-color: white;
   padding: 1rem;

   & > div,
   & > table {
      height: 90vh;
      overflow: scroll;
      overflow-x: hidden;
   }
}

.close-button {
   margin-block: 8px;
   padding: 4px 8px;
   font-size: 14px;
   font-family: "Mate";
   font-weight: 700;
   border: none;
   background-color: #1c70b6;
   color: white;
   border-radius: 3px;
   display: block;
   margin-left: auto;
   margin-right: 1rem;
   display: none;
}

// Content inside articles(story and partner content)
.article-content {
   img {
      width: 100%;
      margin-block: 1rem;
      max-width: 100%;
      height: auto;
   }
   p {
      margin-bottom: 1rem;
   }
   a {
      color: #1c70b6;
   }
}

.mantine-select-dropdown {
   input {
      font-family: "Montserrat";
      border-radius: 5px;
      border: 1px solid #c8c8c8;
      font-size: 14px;
   }
}

.mantine-multiselect input {
   display: none;
}

.region-selector {
   * {
      font-family: "Montserrat";
   }
   input {
      background-color: transparent;
      border: none;
      padding-block: 0px;
      width: 156px;
      position: relative;
      top: 3px;
   }
   input::placeholder {
      color: #999999;
   }
}

.animated_slidein {
   animation: slidein 0.4s ease-out;
}

@keyframes slidein {
   0% {
      transform: translateY(20px);
      opacity: 0.5;
   }
   100% {
      opacity: 1;
      transform: translateY(0px);
   }
}

.newsletter-form-input {
   .mantine-TextInput-wrapper,
   input {
      height: 100%;
   }
}

.see-more-btn {
   &:hover span {
      animation: shift-aroow 0.4s ease forwards;
      transition: 0.2s ease;
   }
}

@keyframes shift-aroow {
   0% {
      transform: translateX(0px);
      opacity: 0;
   }
   50% {
      transform: translateX(-5px);
   }
   100% {
      transform: translateX(0px);
      opacity: 1;
   }
}

.plan-details a {
   padding-inline: 4px;
   color: #1c70b6;
   font-weight: bold;
}

.bulk-radio input {
   height: 20px;
   width: 20px;
}

.licence-input {
   input {
      padding: 10px 14px;
      font-family: "Montserrat";
      width: 230px;
      height: 40px;
      border: 1px solid #c8c8c8;
      border-radius: 5px;
   }
}

.faq-accordion-item {
   ul {
      list-style: inside;
   }
   a {
      color: #35a7df;
      font-weight: bold;
   }
}

.animate_bookmark {
   animation: bookmark 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

@keyframes bookmark {
   0% {
      transform: scale(0.5);
      opacity: 0.5;
   }
   50% {
      transform: scale(1.2);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

.blog-post-card {
   img {
      width: 100% !important;
      height: 200px !important;
   }
}

.divider {
   border-bottom: 1px solid #5e5e5e;
}

.ad-form-input input {
   padding: 10px 14px;
   font-family: "Montserrat";
   height: 45px;
   width: 100%;
   border: 1px solid #c8c8c8;
   border-radius: 5px;
}

.nav-dropdown .mantine-Input-wrapper {
   color: black;
   width: 106px;
   margin-right: 30px;

   input::placeholder {
      color: #363e48;
   }
}

.tagged-newsletter-form-input input {
   border-color: var(--color-blue);
   font-family: "Montserrat";
   font-size: 14px;
   color: var(--color-content);
}
