@import url("https://fonts.googleapis.com/css2?family=Mate:wght@400;500;600;800&family=Montserrat:wght@300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --color-blue: #35a7df;
   --color-darkblue: #1c70b6;
   --color-red: #f44336;

   --color-darkgray: #999999;
   --color-gray: #cdcdcd;
   --color-lightgray: #d5d5d5;

   --color-bluebadgebg: #e7f3ff;
   --color-graybadgebg: #e6e6e680;
   --color-whitebadgebg: #e7f3ff;

   --color-heading: #363e48;
   --color-content: #5e5e5e;
   --color-lighttext: #35a7df;
   --color-smalltext: #8d8d8d;

   --color-inputbg: #ededed;
}

input {
   --tw-ring-shadow: 0 0 #000 !important;
}

[type="radio"]:checked {
   color: var(--color-blue);
   position: relative;
}

[type="radio"] {
   position: relative;
}
[type="radio"]:checked:before,
[type="radio"]:checked:after {
   position: absolute;
   content: "";
   inset: 0;
   background-color: white;
   height: 17px;
   width: 17px;
   border-radius: 50%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
[type="radio"]:checked:after {
   background-color: var(--color-blue);
   height: 12px;
   width: 12px;
   z-index: 100;
}

body {
   overflow-x: hidden;
}
